<div class="row">
    <div class="col-md-1">
        {% if users %}
        {% for user in users %}
        {% if tweet.author == user.user %}
        <img class="card-img" src='media/{{user.profile_picture}}' alt="{{tweet.author}} profile">
        {% endif %}
        {% endfor %}
        {% else %}
        <img class="card-img" src='media/{{user.profile_picture}}' alt="{{tweet.author}} profile">
        {% endif %}
    </div>
    <div class="col-md-10" style="background: #E1E8ED;">
        <div class="row">
            <div class="col-md-1">
                <h4><a href="/{{ tweet.author }}">@{{ tweet.author }}</a></h4>
            </div>
            <div class="col-md-3">
                <small> {{ tweet.created_at }}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ tweet.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>